<%if !!current_user%>
  <h3>Welcome, <%=current_user.username%>!</h3>
  <a href="/users/<%=current_user.id%>">See my recipes</a><br>
  <a href="/recipes/new">Create a new recipe</a><br>
  <a href="/logout">Log out</a>
<%else%>
  <a href="/login">Log in</a><br>
  <a href="/signup">Sign up</a>
<%end%>

<h2>All Recipes</h2>
<%Recipe.all.each do |r|%>
<h3><a href="/recipes/<%=r.id%>"><%=r.name%></a></h3>
Total prep time: <%=r.total_prep_time%><br/>
<i>Recipe by: <a href="/users/<%=r.creator.id%>"><%=r.creator.username%></a></i>
<%end%>
