<h3><%=current_recipe.name%></h3>
Total prep time: <%=current_recipe.total_prep_time%><br/>
<i>Recipe by: <a href="/users/<%=current_recipe.creator.id%>"><%=current_recipe.creator.username%></a></i>

<h4>Ingredients</h4>
<ul>
  <%current_recipe.ingredients.each do |i|%>
    <li><%=i.name%>, <%=i.quantity%> <%=i.unit%></li>
  <%end%>
</ul>
<h4>Directions</h4>
<p><%=current_recipe.directions%></p>

<%if !!current_user && current_recipe.creator == current_user%>
  <a href="/recipes/<%=current_recipe.id%>/edit">Edit recipe</a>
<%end%>
