<h3><%=@recipe.name%></h3>
Total prep time: <%=@recipe.total_prep_time%><br/>
<i>Recipe by: <%=@recipe.creator.username%></i>

<h4>Ingredients</h4>
<ul>
  <%@recipe.ingredients.each do |i|%>
    <li><%=i.name%>, <%=i.quantity%> <%=i.unit%></li>
  <%end%>
</ul>
<h4>Directions</h4>
<p><%=@recipe.directions%></p>

